<phpunit bootstrap="vendor/autoload.php">
	<testsuite name="Tests">
		<directory>./tests</directory>
	</testsuite>
	<coverage>
		<include>
			<directory suffix=".php">./src</directory>
		</include>
		<report>
			<clover outputFile="./log/coverage.xml"/>
			<html outputDirectory="./log/report" lowUpperBound="50" highLowerBound="80"/>
			<text outputFile="./log/coverage.txt"/>
		</report>
	</coverage>
	<logging>
		<testdoxHtml outputFile="./log/testdox.html"/>
	</logging>
</phpunit>
